<div class="ticket">
  <header>
    <h2><%= @ticket.name %></h2>
    <ul class="actions">
      <%= link_to 'Edit Ticket', edit_project_ticket_path(@ticket.project, @ticket), class: 'edit' %>
      <%= link_to 'Delete Ticket', [@ticket.project, @ticket], 
          method: :delete, data: {confirm: 'Are you sure?'}, 
          class: 'delete' %>
    </ul>
  </header>
  <table class="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @ticket.author.email %></td>
    </tr>
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
    </tr>
  </table>
  <%= simple_format @ticket.description %>
  <% if @ticket.attachment.present? %>
    <h4>Attachment</h4>
    <div class="attachment">
      <p>
        <%= link_to @ticket.attachment.filename, 
          rails_blob_path(@ticket.attachment, 
          disposition: 'attachment') %>

        (<%= number_to_human_size(@ticket.attachment.blob.byte_size) %>)
      </p>
    </div>
  <% end %>
</div>
