<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Ticketee' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application',
    media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Ticketee', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, 
                class: "nav-link #{'active' if current_page?('/')}" %>
            </li>
            <% unless user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, 
                class: "nav-link #{'active' if current_page?('/users/sign_up')}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, 
                class: "nav-link #{'active' if current_page?('/users/sign_in')}" %>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <span class="navbar-text">
                Signed in as
                <strong><%= current_user.email %></strong>
              </span>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-danger ms-1" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %> mt-3">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
